.phones {
  list-style: none;
  float:left; 
  display:inline;
  padding-top: 20px;
}

tr.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

tr.specs > td,th{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.message {
	border: 1px solid red;
	height: 30px;
	background-color: lightpink;
	width : 500px;
}

.clearfix { clear: both; }

.footer {
  background-color: black ;
  padding-left: 10px;
  margin-top: 20px;
}

